// Primary
$primary: #007394;
$primary-dark: #003057;

// Basic Colors
$color-black: #020917;
$color-white: #fefefe;
$color-gray: #60646d;
$color-pink: #ffecf0;
$color-green: #e7f7eb;
$color-yellow: #fafbe5;
$color-purple: #f4e3ee;
$color-active-button: #989ba3;
$hyperlink-color: #17897c;
$bg-main-color: #f3f3f3;

// Gray
$gray-20: #dfe1e1;
$gray-30: #d3d3d3;
$gray-40: #C2C2C2;
$gray-60: #808080;
$gray-70: #666666;
$gray-90: #323538;

// Blue
$blue-20: #e4faff;
$blue-50: #a6dff7;

// Black
$black: #000;
$black-80: #333;
