@import "assets/colors.scss";
@import "assets/variables.scss";

.custom-text-black {
  &:-webkit-any-link {
    color: $color-black;
  }
}

.page-content-container {
  .progress {
    @extend %progress-styles !optional;
  }
}

[role=table] {
  [role=cell] {
    .custom-progress {
      @extend %progress-styles !optional;
    }
  }
}

.pagination-table .pagination {
  justify-content: flex-end;
  padding-right: 25px;
}

.title-page {
  padding: 20px 0;
}

.instructors-list {
  list-style-type: none;
  padding-left: 0;
}

.link {
  &:-webkit-any-link {
    color: $primary;
  }
}

.back-arrow.btn {
  color: $primary;
  padding: 0;
  font-size: 18px;

  &:hover {
    background-color: transparent;
  }
}

@media screen and (max-width: 880px) {
  .title-page {
    padding-left: 20px;
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .page-content-container {
    max-width: 680px;
    min-width: 680px;
  }
}
